<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Clínica Odontológica</title>
</head>
<body>
	<nav>
		<div class="nav-wrapper cyan">
			<a href="/projeto/detalhes" class="brand-logo center">Detalhes da
				consulta</a> <a href="/" class="brand-logo">Clínica 3 Irmãos</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
			</ul>
		</div>
	</nav>

	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Adicionar Paciente</span>
					<form th:action="@{/projetos/{idConsulta}(idConsulta=${projeto.id})}" method="post">
						<div>
							<input type="hidden" name="id" th:value="${paciente.id}" readonly="readonly">
						</div>
						<div>
							<label>Nome: </label> <input type="text" name="nome" th:value="${paciente.nome}">
						</div>
						<div>
							<label>CPF: </label> <input type="text" name="cpf" th:value="${paciente.cpf}">
						</div>
						<div>
							<label>Hórario: </label> <input type="time" name="hora" th:value="${paciente.hora}">
						</div>
						<div>
							<button class="btn waves-effect waves-light" type="submit">Adicionar</button>
							<button class="btn waves-effect waves-light" type="reset">Limpar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Consulta</span>
					<p>
						<strong>Id: </strong><span th:text="${projeto.id}">1</span>
					</p>
					<p>
						<strong>Nome: </strong><span th:text="${projeto.nome}">1</span>
					</p>
					<p>
						<strong>Serviço: </strong><span th:text="${projeto.servico}">1</span>
					</p>
					<p>
						<strong>Data: </strong><span th:text="${projeto.data}">1</span>
					</p>
					
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Pacientes</span>
					<table class="HighLight">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nome</th>
								<th>Cpf</th>
								<th>Horário</th>
								<th></th>
								
							</tr>
						</thead>
						<tbody>
							<tr th:each="c : ${pacientes}">
								<td th:text="${c.id}">1</td>
								<td th:text="${c.nome}">1</td>
								<td th:text="${c.cpf}">1</td>
									<td th:text="${c.hora}">1</td>
								<td> 
									<a
									th:href="@{/projetos/{idProjeto}/pacientes/{idPaciente}/remover(idProjeto=${projeto.id},idPaciente=${c.id})}"><i
										class="material-icons">delete</i></a> 	
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

	<footer class="page-footer orange">
		<div class="container">
			<div class="row">
				<div class="col 16 s12">
					<h5 class="titulodois">Entre em contato com nossos
						Programadores</h5>
					<p class="center">Nossos desenvolvedores quebraram a cabeça
						centenas de vezes para tentar entregar o mínimo de erros
						possíveis, a seguir está diversas informações de como entrar em
						contato com eles.</p>
				</div>
				<div class="col 13 s12">
					<h5 class="center">Desenvolvedores</h5>

					<div class="ctn">
						<ul>
							<li><a class="white-text"> Adryel Assunção Ramalho Leite
									<br> assuncaoadryel@gmail.com <br> +55 (84)
									99828-2952
							</a>
						</ul>
						<ul>
							<li><a class="white-text"> Fernando Victor Araújo
									Rodrigues Da Silva <br> fernandovictor118@gmail.com <br>
									+55 (84) 99675-6709
							</a>
						</ul>
						<ul>
							<li><a class="white-text"> Everton Wesley Da Silva <br>everton.wesley777@gmail.com
									<br> +55 (84) 99815-2853
							</a>
						</ul>
					</div>



				</div>
			</div>
		</div>
	</footer>

	<style>
.titulodois {
	text-align: center;
}

.um {
	font-family: Gill Sans;
	font-size: 150%;
}

.dois {
	font-family: Gill Sans;
	font-size: 150%;
}

.tres {
	font-family: Gill Sans;
	font-size: 150%;
}

.quatro {
	font-family: Gill Sans;
	font-size: 150%;
}

.cinco {
	font-family: Gill Sans;
	font-size: 150%;
}

.one {
	font-family: Times New Roman;
}

.two {
	font-family: Times New Roman;
}

.three {
	font-family: Times New Roman;
}

.for {
	font-family: Times New Roman;
}

.five {
	font-family: Times New Roman;
}

.brand-logo {
	font-family: monospace;
}
</style>
</body>
</html>

