<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Cliníca Odontológica</title>
</head>
<body>
	<nav>
		<div class="nav-wrapper cyan">
			<a href="/projetos/form" class="brand-logo center">Adicionar
				Consulta</a> <a href="/" class="brand-logo">Clínica 3 Irmãos</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
			</ul>
		</div>
	</nav>
	<form action="/projetos" method="post" class="col s12">
		<div class="row">
			<div class="row">

				<input type="hidden" name="id" class="validate"th:value="${projeto.id}" readonly="readonly">

				<div class="input-field col s12">

					<div class="input-field col s12">
						<input type="text" name="nome" class="validate"
							th:value="${projeto.nome}"> <label for="nome">Nome</label>
						<span class="helper-text" data-error="Inválido"
							data-success="Correto">Insira o seu nome completo</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input type="text" name="servico" class="validate"
						th:value="${projeto.servico}"> <label for="servico">Serviço</label>
					<span class="helper-text" data-error="Inválido"
						data-success="Correto">Insira o serviço que deseja. ex:
						Manutenção, Extração, Limpeza</span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input type="date" name="data" class="validate"
						th:value="${projeto.data}"> <label for="data">Data</label>
					<span class="helper-text" data-error="Inválido"
						data-success="Correto">Insira a data que você deseja
						realizar seu serviço.</span>
				</div>

			</div>
			<div class="row">
				<div class="input-field col s12">
					<input type="text" name="horario" class="validate"
						th:value="${projeto.horario}"> <label for="horario">Horário</label>
					<span class="helper-text" data-error="Inválido"
						data-success="Correto">Insira o horário que você deseja
						realizar seu serviço</span>
				</div>

			</div>

			<div>
				<button class="btn waves-effect waves-light" type="submit">Adicionar</button>
				<button class="btn waves-effect waves-light" type="reset">Limpar</button>
			</div>
	</form>


	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>
