<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Cliníca Odontológica</title>
</head>
<body>
	<nav>
		<div class="nav-wrapper cyan">
			<a href="/projeto/form" class="brand-logo center">Detalhes da consulta</a> 
			<a href="/" class="brand-logo">Clínica 3 Irmãos</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
			</ul>
		</div>
	</nav>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>