<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>projeto</title>
</head>
<body>
	<nav>
		<div class="nav-wrapper cyan">
			<a href="#" class="brand-logo center">Adicionar Consulta</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
			</ul>
		</div>
	</nav>
	<form action="/projeto" method="post"></form>
	<div class="row">
		<form class="col s12">



			<div class="row">
				<div class="input-field col s12">
					<input id="nome" type="text" class="validate"> <label
						for="nome">Nome</label> <span class="helper-text"
						data-error="wrong" data-success="right">Digite o seu nome
						completo</span>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<input id="servico" type="text" class="validate"> <label
						for="servico">Serviço</label> <span class="helper-text"
						data-error="wrong" data-success="right">Digite o serviço
						que deseja. ex: Manutenção, extração, limpeza</span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="data" type="date" class="validate"> <label
						for="data">Data</label> <span class="helper-text"
						data-error="wrong" data-success="right">Digite a data que
						você deseja realizar seu serviço.</span>
				</div>

			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="horario" type="text" class="validate"> <label
						for="horario">Horário</label> <span class="helper-text"
						data-error="wrong" data-success="right">Digite o horário
						que você deseja realizar seu serviço.</span>
				</div>

			</div>
		</form>
	</div>
	<div>
		<button class="btn waves-effect waves-light" type="submit">Salvar
		</button>
		<button class="btn waves-effect waves-light" type="reset">Limpar</button>
	</div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>