<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<nav th:fragment="home">
		<div class="nav-wrapper cyan">
			<a href="/" class="brand-logo">Clínica Odontológica</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#">Listar Consultas</a></li>
				<li><a href="/projeto/form">Adicionar Consulta</a></li>
			</ul>
		</div>
		
	</nav>
	
</body>
</html>