<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<nav th:fragment="home">
		<div class="nav-wrapper cyan">
			<a href="/" class="brand-logo">Clínica Odontológica</a>
			<ul class="right hide-on-med-and-down">
      
				<li class="listar"><a href="/projeto">Listar Consultas</a></li>
				<li class="adicionar"><a href="/projeto/form">Adicionar Consulta</a></li>

				<li class="login"><a href="badges.html">Login</a></li>

			</ul>

		</div>
	</nav>
	<div>
		<h1 class="titulo">Clínica 3 Irmãos</h1>
	</div>
	<div class="row center">

		<h5 class="header col s12 light">Venha realizar qualquer serviço em nossa clínica e saia feliz e contente com um sorriso nos dentes!</h5>

	</div>
	<div class="container">
		<div class="section">
			<div class="row">
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center light-blue-text">
							<i class="material-icons">check</i>
						</h2>
						<h5 class="center">Compromisso</h5>
						<p class="center">Agradecemos muito sua preferência que nos
							deixou honrados e muito satisfeitos. Esperamos que suas
							expectativas tenham sido totalmente correspondidas e que se sinta
							feliz por ter recorrido aos nossos serviços. A nossa missão é
							satisfazer cada cliente, e é para isso que continuaremos
							trabalhando todos os dias. Ficamos aguardando uma nova visita tão
							breve quanto possível.</p>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center light-blue-text">
							<i class="material-icons">insert_emoticon</i>
						</h2>
						<h5 class="center">Nossos Serviços</h5>
						<p class="center">
							• Colocar aparelhos dentários<br> • Fugir do mau hálito<br>
							• Tratar cáries<br> • Extração <br> <br> • Entre outros... <br>
						</p>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center light-blue-text">
							<i class="material-icons">format_quote</i>
						</h2>
						<h5 class="center">Feedbacks</h5>
						<p class="center">
							“Entrei na Clínica 3 Irmãos para um check-up de rotina com a

							Dra. Carla, onde foi identificada a necessidade de um
							tratamento ortodôntico específico, acompanhdo por vários
							dentistas da clínica, de várias especialidades. Recentemente
							conluí o tratamento com sucesso e estou certo da importância de
							ter feito meu diagnóstico na Clínica 3 Irmãos. Recomendo!” <br>
							<b> Valmir Nelson Willa </b> <br>

						<p>
					</div>

				</div>
			</div>
		</div>
</body>
<footer class="page-footer orange">
	<div class="container">
		<div class="row">
			<div class="col 16 s12">
				<h5 class="titulodois">Entre em contato com nossos
					Programadores</h5>
				<p class="center">Nossos desenvolvedores quebraram a cabeça
					centenas de vezes para tentar entregar o mínimo de erros possíveis,
					a seguir está diversas informações de como entrar em contato com
					eles.</p>
			</div>
			<div class="col 13 s12">
				<h5 class="center">Desenvolvedores</h5>

				<div class="ctn">
					<ul>
						<li><a class="white-text"> Adryel Assunção Ramalho Leite
								<br> assuncaoadryel@gmail.com <br> +55 (84) 99828-2952
						</a>
					</ul>
					<ul>
						<li><a class="white-text"> Fernando Victor Araújo
								Rodrigues Da Silva <br> fernandovictor118@gmail.com <br>
								+55 (84) 99675-6709
						</a>
					</ul>
					<ul>
						<li><a class="white-text"> Everton Wesley Da Silva <br>everton.wesley777@gmail.com
								<br> +55 (84) 99815-2853
						</a>
					</ul>
				</div>



			</div>
		</div>
	</div>



</footer>
<style>
.container {
	width: 100%
}

.ctn {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 30px;
	margin-left: 155px;
}

.ctn ul {
	margin-right: 150px
}

.brand-logo {
	font-family: monospace;
	margin-left: 25px;
}

.titulo {
	font-family: Brush Script MT;
	text-align: center;
	color: DeepSkyBlue;
}

.titulodois {
	text-align: center;
}
.listar{
font-family: serif;
font-size: 120%;	
}
.adicionar{
font-family: serif;
font-size: 120%;
}
.login{
font-family: serif;
font-size: 120%;
}
</style>
</html>