<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Clínica Odontológica</title>
</head>
<body>
	<nav>
		<div class="nav-wrapper cyan">
			<a href="/projeto" class="brand-logo center">Lista de Consultas</a>
			<a href="/" class="brand-logo">Clínica 3 Irmãos</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
			</ul>
		</div>
	</nav>

	<div>
		<table>